.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    color: white;
    text-align: center;
}

.date-circle {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2),
                0px 4px 8px rgba(0, 0, 0, 0.5) inset;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
}

.date-circle:hover {
    transform: scale(1.05);
    box-shadow: 0px 12px 24px rgba(255, 255, 255, 0.3),
                0px 6px 12px rgba(0, 0, 0, 0.6) inset;
}

.date {
    font-size: 48px; 
    text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.6);
    margin-bottom: 0px;
}

.month, .year {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: uppercase
}

.day {
    min-height: 12vh;
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 2px;
}

.widgets {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.square-widget {
    width: 260px;
    padding: 8px;
    background-color: #87a888;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3),
                -3px -3px 8px rgba(255, 255, 255, 0.1);
    font-size: 16px;
    font-weight: 500;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color: #2F3020;
}

.square-widget:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4),
                -5px -5px 12px rgba(255, 255, 255, 0.08);
    cursor: pointer;
}

.widget-link {
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}