@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 10;
    padding-left: 10px;
    padding-bottom: 60px;
    background-color: #db6645;
    color: #edeee4;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2F3020;
    padding: 10px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    text-align: center;
}

.nav-links a {
    text-decoration: none;
    color: #9DBF9B;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

.icon {
    font-size: 1.5rem;
}

.nav-links a:hover {
    color: #D0D6B5;
}

@media (max-width: 768px) {
    .nav-links {
        flex-wrap: wrap;
        gap: 10px;
    }

    .nav-links a {
        font-size: 0.8rem;
    }

    .icon {
        font-size: 1.2rem;
    }
}